.container {
  width: 90%;
  max-width: 80rem;
  margin: 0 auto;
  z-index: 30;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container.zoom {
}

.container .controls {
  height: 10rem;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: height var(--animation-2);
}

.container.zoom .controls {
  height: 0rem;
  transition: height var(--animation-1);
}