.portrait {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100lvh;
  background-image: url('/colby/400.png');
  background-repeat: no-repeat;
  background-position: left -125px bottom calc(100lvh - 100svh);
}

.shadow {
  width: 100%;
  height: 100%;
  background-image: url('/colby/400.png');
  background-repeat: no-repeat;
  background-position: left -125px bottom;
  mix-blend-mode: soft-light;
}

@media (min-width: 1024px) {
  .portrait, .shadow {
    background-position: left bottom;
  }
}