.logo {
  /* opacity: 0;
  animation-name: logo;
  animation-duration: 600ms;
  animation-fill-mode: forwards; */
}

@keyframes logo {
  from { opacity: 0; }
  to { opacity: 100; }
}

.text {
  position: absolute;
  animation-name: text;
  animation-duration: 2400ms;
  animation-delay: 600ms;
  animation-fill-mode: forwards;
  opacity: 0;
  background: linear-gradient(to right, black 25%, theme('colors.berry.500'), theme('colors.grape.500'), theme('colors.kiwi.500'), theme('colors.dandelion.500'), theme('colors.teal.500'), black 75%);
  background-repeat: no-repeat;
  background-size: 55%;
  background-position: 0%;
  background-clip: text;
  color: transparent;
  width: 3000px;
  text-align: center;
}

@keyframes text {
  from { opacity: 0; }
  25% { opacity: 100; background-position: 0%; }
  100% { opacity: 100; background-position: 100%; }
}

.background {

}

@keyframes background {
 
}