.text {
  position: absolute;
  animation: fade 300ms 900ms forwards, rainbow 3600ms 900ms forwards;
  opacity: 0;
  background: linear-gradient(to right, hsl(var(--twc-primary-1)) 25%, theme('colors.berry.500'), theme('colors.grape.500'), theme('colors.kiwi.500'), theme('colors.dandelion.500'), theme('colors.teal.500'), hsl(var(--twc-primary-1)) 75%);
  background-repeat: no-repeat;
  background-size: 55%;
  background-position: 0%;
  background-clip: text;
  color: transparent;
  width: 3000px;
  text-align: center;
}

.subtext {
  opacity: 0;
  animation: fade 300ms 900ms forwards;
  transition: color 300ms 0ms steps(var(--animation-steps));
}

@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes rainbow {
  from { background-position: 0%; }
  to { background-position: 100%; }
}