.container {
  position: relative;
  height: 100svh;
  overflow: hidden;



  --animation-0: 300ms 0ms ease-in-out;
  --animation-1: 300ms 300ms ease-in-out;
  --animation-2: 300ms 600ms ease-in-out;
  --animation-3: 300ms 900ms ease-in-out;

  --bezel-dimension: min(80svw, 50svh);
  --bezel-unzoom-translate: 0px calc(-1 * (45svh - (var(--bezel-dimension) / 2)));
}

.container.zoom {

}

.container .bezel {
  position: absolute;
  inset: 0;
  z-index: 10;
  width: var(--bezel-dimension);
  height: var(--bezel-dimension);
  margin: auto;
  overflow: hidden;
  background-color: theme('colors.neutral.800');
  border: solid 2px theme('colors.neutral.950');
  border-radius: 2rem;
  scale: 100% 100%;
  translate: var(--bezel-unzoom-translate);
  transition: border-radius var(--animation-2), scale var(--animation-1), translate var(--animation-2), border-width var(--animation-3);
}

.container.zoom .bezel {
  border-radius: 0rem;
  border-width: 2px 0px;
  scale: var(--bezel-zoom-scale);
  translate: 0 -5svh;

  transition: border-radius var(--animation-1), scale var(--animation-2), translate var(--animation-1), border-width var(--animation-0);
}

.container .view {
  border-radius: 1.5rem;
  position: absolute;
  inset: 1rem;
  
  background-color: hsl(var(--twc-primary-3));
  overflow: hidden;
  transition: border-radius var(--animation-2);
}

.container.zoom .view {
  border-radius: 0rem;
  transition: border-radius var(--animation-1);
}

.container .contentView {
  background-color: hsl(var(--twc-primary-3));
  position: absolute;
  inset: 0rem;
  opacity: 0;
  transition: opacity 150ms 300ms ease-in-out, translate var(--animation-2);
  height: calc(90svh - 2rem);
  width: 100svw;
  margin: auto;
  overflow: hidden;
  z-index: 20;
}

.container.zoom .contentView {
  opacity: 1;
  translate: 0 -5svh;
  transition: opacity 150ms 750ms ease-in-out, translate var(--animation-1);
  z-index: 40;
}

.container .contentView::after {
  content: '';
  position: absolute;
  inset: 0;
  box-shadow: inset 4px 4px 8px theme('colors.neutral.950');
  pointer-events: none;
}

.container .content {
  overflow: auto;
  height: 100%;
  opacity: 0;
  transition: opacity var(--animation-0);
}

.container.zoom .content {
  opacity: 1;
  transition: opacity var(--animation-3);
}

.container .view::after {
  content: '';
  border-radius: 1.5rem;
  position: absolute;
  inset: 0;
  box-shadow: inset 4px 4px 8px theme('colors.neutral.950');
  pointer-events: none;
  opacity: 1;
  transition: opacity var(--animation-1), border-radius var(--animation-2);
}

.container.zoom .view::after {
  opacity: 0;
  border-radius: 0;
  transition: opacity var(--animation-2), border-radius var(--animation-1);
}

.container .logo {
  
}

.container.zoom .logo {
  
}

.container .controls {
  z-index: 30;
  position: absolute;
  bottom: 4svh;
  left: 0;
  right: 0;
  width: var(--bezel-dimension);
  margin: 0 auto;
  transition: translate var(--animation-1);
}

.container.zoom .controls {
  translate: 0 2svh;
  transition: translate var(--animation-2);
}

.container .frame {
  position: absolute;
  inset: 1svh;
  width: calc(var(--bezel-dimension) + 4rem);
  translate: 0.5svw 0svw;
  margin: auto;
  scale: 100% 100%;
  border-radius: 3.0rem;
  border-width: 15px 15px 2px 2px;
  transition: scale var(--animation-1), opacity var(--animation-0);
  opacity: 1;
}

.container.zoom .frame {
  scale: var(--bezel-zoom-scale);
  opacity: 0;
  transition: scale var(--animation-2), opacity var(--animation-3);
}