@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --h-nav: 3em;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 3em;
  background-color: theme('colors.neutral.700');
}

@layer utilities {
  .hw-50 {
    height: min(50lvh, 50lvw);
    width: min(50lvh, 50lvw);
  }
  .hw-70 {
    height: min(70lvh, 70lvw);
    width: min(70lvh, 70lvw);
  }
  .hw-90 {
    height: min(90lvh, 90lvw);
    width: min(90lvh, 90lvw);
  }
  .h-80 {
    height: 80svh
  }
  .h-90 {
    height: 90svh;
  }
  .w-80 {
    width: 100lvw;
  }
  .w-90 {
    width: 100lvw;
  }
  .h-lvh-svh {
    height: calc(100lvh - 100svh);
    overflow: hidden;
  }
  .responsive-square {
    width: 50%;
    margin: auto;
  }
  .responsive-square::after {
    content: '';
    display: block;
    padding-top: 100%;
  }
  .delay-900 {
    transition-delay: 900ms;
  }
}