.image {
  animation: pan 12000ms linear infinite, fade 12000ms linear infinite;
  opacity: 0;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  2% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  98% {
    opacity: 0;
  }
}

@keyframes pan {
  from {
    transform: translate(0px, 0px)
  }
  to {
    transform: translate(var(--translate-x), var(--translate-y));
  }
}