.child {

}

.child.show {
  
}

.child.hide {
  
}

.child .curtain {
  opacity: 0;
  background-color: hsl(var(--twc-primary-1));
  pointer-events: none;
}

.child .content {

}

.child.show .curtain {
  animation: bg-color-fade 500ms steps(4);
}

.child.show .content {
  opacity: 1;
  transition: opacity 0ms 250ms;
}

.child.hide .curtain {

}

.child.hide .content {
  opacity: 0;
  transition: opacity 0ms 250ms;
}

.tab {
  background-color: hsl(var(--twc-primary-3)); 
}

.tab.show {

}

.tab.hide {

}

.tab .curtain {
  opacity: 0;
  background-color: hsl(var(--twc-primary-1));
  pointer-events: none;
}

.tab .button {
  z-index: 10;
  
}

.tab.show .curtain {
  animation: bg-color-fade 500ms steps(4);
}

.tab.hide .curtain {
  
}

.tab.show .button {
  color: hsl(var(--twc-primary-1));
  transition: all 0ms 250ms steps(4);
  pointer-events: none;
}

.tab.hide .button {
  color: hsl(var(--twc-primary-3));
  background-color: hsl(var(--twc-primary-1));
  transition: all 250ms 0ms steps(4);
}

.tab.hide .button:focus, .tab.hide .button:hover {
  text-decoration: underline;
}

@keyframes bg-color-fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}